/* Buttons leading to blog posts styling */
article a{
    display: block;
    color: white;
    background-color: #0B62E3;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.5s;
}
article a:hover{
    color: white;
    background-color: #002B6B;
}
