/* Question/Answer information */
h3::before{
    content: 'Q:';
}
p::before{
    content: 'A:';
}
/* Top margin between articles */
article{
    margin-top: 1rem;
}
/* Walk-through styling */
.tab-walkthrough{
    background-color: lightgray;
    margin: 0.5rem;
    padding: 0.5rem;
    display: block;
}