.set-min-height{
    min-height: 77vh;
}
nav{
    height: fit-content;
}
.profile{
    text-align: center;
}
.profile img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.footer-icon{
    width: 2rem;
}
img[alt="hz"]{
    margin-right: 0.5rem;
}
@media screen and (min-width: 768px){
    nav{
        position: sticky;
        position: -webkit-sticky;
        top: 50px;
    }
}

@media screen and (max-width: 768px){
    footer{
        font-size: 0px;
    }
}